<nav class="navbar">
  <div class="brand-title"> 
  <a style="color: white;" href="/"><img height="64px" width="64px" src="https://cdn1.iconfinder.com/data/icons/business-456/500/growing-4096.png"></a>

  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="/compose">Compose</a></li>
      <li><a href="/activity">My Activity</a></li>
      <li><a href="/expenses">Expenses</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>