<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <header>
        <a href="#" class="logo">Expense Manager</a>
        <div class="toggle"></div>
    </header>

    <div class="slider">
        <input type="radio" name="slider" checked="checked">
        <div class="imgBx">
            <img src="/images/img1.jpg" alt="Welcome Image">
            <div class="content">
                <h2>Welcome</h2>
                <br>
                <p>“When you know the impact of little expenses, you will realise that there is nothing little in this world.”
                    ― Manoj Arora,</p>
                <a href="/login">Login</a>
            </div>
        </div>
        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="/images/img2.jpg" alt="Expenses Image">
            <div class="content">
                <h2>Expenses</h2>
                <br>
                <p>"I am indeed rich, since my income is superior to my expenses, and my expense is equal to my wishes."
                    - Edward Gibbon </p>
                <a href="/login">Login</a>
            </div>
        </div>
        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="/images/img3.jpg" alt="Blogs Image">
            <div class="content">
                <h2>Blogs</h2>
                <br>
                <p>Journaling is like whispering to one's self and listening at the same time</p>
                <a href="/login">Login</a>
            </div>
        </div>
        <input type="radio" name="slider">
        <div class="imgBx">
            <img src="/images/img4.jpg" alt="Moving to Login Page">
            <div class="content">
                <h2>Let's Start!</h2>
                <br>
                <p>"By keeping a diary  you become aware with reassuring clarity of the changes which you constantly suffer."
                    - Franz Kafka</p>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>
</html>