<%- include("partials/header") %>

    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/registration.css">
    
</head>
<body>
    
    <%- include("partials/navbar") %>

    <div class="container">
        
        <%- include('partials/formval') -%>

    </div>

    <%- include("partials/footer") %>